@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  color: #fff;
}

body {
  background-color: rgb(0, 0, 0);
}

.inimigosDerrotados {
  padding: 1.5vw;
  border: 5px solid rgb(17, 17, 17);
  background-color: #252525;
  position: fixed;
  top: 2%;
  left: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
}

.mapa {
  border: 5px solid rgb(17, 17, 17);
  width: auto;
  height: 90vh;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

.combatModal {
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 0, 41);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  display: none;
}

.layer {
  width: 100%;
  background-color: rgb(17, 17, 17);
  position: absolute;
  bottom: 0;
}

#equacao {
  font-size: 3rem;
  padding: 1vw;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  margin: 0.4%;
  width: 48%;
  height: 8vh;
  font-size: 1.5rem;
  background-color: #252525;
  border-radius: 5px;
  border: 1px black solid;
  transition: 0.05s linear;
}

button:hover {
  scale: 1.02;
}

.lifeEnemy,
.lifePlayer {
  width: 300px;
  height: 20px;
  background-color: #252525;
  position: absolute;
  transform: translate(-50%, -50%);
}

.lifeEnemy {
  left: 80%;
  top: 40%;
}

.lifePlayer {
  left: 20%;
  top: 55%;
}

.progressoEnemy,
.progressoPlayer {
  width: 100%;
  height: 100%;
  background-color: rgb(185, 0, 0);
}

.telaConversa {
  width: 88vw;
  border: 1vw solid rgb(17, 17, 17);
  background-color: #252525;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5vw 5vw 7vw 5vw;
  display: none;
  color: #fff;
}

.enter {
  width: 64px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.telaMorte {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ff4343;
}

.telaMorte > img {
  width: 10vw;
  height: auto;
}

.inimigoMorte {
  background-color: rgb(17, 17, 17);
}

.boxTimer {
  width: 100vw;
  position: fixed;
  top: 66%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 99;
  text-align: center;
  font-size: 1.5rem;
  padding: 3% 0;
  display: none;
}

.boxTextoTempo {
  display: none;
}
